.ownerinfo {
  width: 80%;
  padding: 20px;
  border: 1px solid black;
  padding: 5%;
  border-color: black;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.userhome{
  background-image: url("https://www.maxpixel.net/static/photo/1x/Sunset-Light-Sunrise-Colours-Color-Background-1030600.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 17px;
  padding-top: 15vh;
  position: fixed;
  text-align: left;
  padding: 20vh !important;
}

html {
  margin: 0px;
}

.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
}

.package-button {
  margin: 20px;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #a5dc86;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.forms {
  padding: 10px;
}

.popup{
  text-align: center;
  background-color: #96bfff;
  height: 100%;
  font-weight: bold;
  font-size: 12px;
  color: black;
  padding-top: 50px;
}

.active{
  background-color: #1d88c1 !important;
  color: white !important;
}